<html>

<head>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
      font-family: 'Josefin Sans', sans-serif;
    }

    body {
      background-color: #f3f5f9;
    }

    .wrapper {
      display: flex;
      position: relative;
    }

    .wrapper .sidebar {
      width: 200px;
      height: 100%;
      background: #fbfbfd;
      padding: 30px 0px;
      position: fixed;
    }

    .wrapper .sidebar h2 {
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }

    .wrapper .sidebar ul li {
      padding: 15px;
      border-bottom: 1px solid #2D3250;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      border-top: 1px solid rgba(255, 255, 255, 0.05);
    }

    .wrapper .sidebar ul li a {
      color: #2D3250;
      display: block;
    }

    .wrapper .sidebar ul li a .fas {
      width: 25px;
    }

    .wrapper .sidebar ul li:hover {
      background-color: #FC7300;
    }

    .wrapper .sidebar ul li:hover a {
      color: #fff;
    }

    .wrapper .sidebar .social_media {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }

    .wrapper .sidebar .social_media a {
      display: block;
      width: 40px;
      background: #FC7300;
      height: 40px;
      line-height: 45px;
      text-align: center;
      margin: 0 5px;
      color: #2D3250;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .wrapper .main_content {
      width: 100%;
      margin-left: 200px;
    }

    .wrapper .main_content .header {
      padding: 20px;
      background: #fff;
      color: #717171;
      border-bottom: 1px solid #e0e4e8;
    }

    .wrapper .main_content .info {
      margin: 20px;
      color: #717171;
      line-height: 25px;
    }

    .wrapper .main_content .info div {
      margin-bottom: 20px;
    }
  </style>
  <style>
    ul.list-unstyled {
      list-style-type: none;
    }

    table.center {
      margin: 0 auto; /* Ajoutez cette ligne pour centrer la table horizontalement */
    }
    
    /* Ajoutez ces styles pour ajuster l'apparence de la table */
    table.center {
      width: 80%;
      border-collapse: collapse;
      margin: 20px auto; /* Ajustez la marge selon vos besoins */
    }
    
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ccc;
    }
    
    th {
      background-color: #2D3250;
      color: #fff;
    }
    

    .custom-table {
      width: 80%;
    }


    

    td {
      background-color: #f2f2f2;
    }

    /* Styles pour les titres */
    h1 {
      color: #FC7300;
      text-align: center;
      margin-top: 30px;
      font-size: 30px;
      font-weight: bold;
    }
    h2 {
      color: #090909;
      text-align: center;
      margin-top: 25%;
    }

    /* Styles pour les sections */
    .section {
      margin-bottom: 30px;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    /* Styles pour les liens */
    a {
      color: #2D4356;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    #search-input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    /* Styles pour les sections */
    .section {
      margin-bottom: 30px;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }
  
    .icon-right {
  margin-left: 15px;
  font-size: 1.3em;
  color: #2D3250;   /* Ajustez la marge selon vos besoins */
}
  </style>

</head>

<body>
  <div class="wrapper">
    <div class="sidebar">

      <h2>Sidebar</h2>
      <ul>

        <li><a style="text-decoration: none;" id="home" href="#"><i class="fas fa-home"></i>Accueil</a></li>
        <li><a style="text-decoration: none;" id="matierr" href="#"><i class="fas fa-address-card"></i>Matieres</a></li>
        <li><a style="text-decoration: none;" id="env_reclamation" href="#"><i class="fas fa-table"></i>Envoie
            reclamation</a></li>
        <li><a style="text-decoration: none;" id="reclamation" href=""><i class="fas fa-user"></i>Voir
            reclamation</a></li>

      </ul>
      <div class="social_media">
        <li><a id="Logout" href="log"><i class="fas fa-sign-out-alt"></i></a></li>
      </div>

    </div>
    <div class="main_content">
      <div id="content-container">
        <div id="content">

          <section class="home">
            <h1>MES RECLAMATIONS</h1>
            <br><br><br>
            <% if(reclamation=="close" ){%>
              <h2>tu na pas encore reclame</h2>
              <%}%>
                <% if(reclamation=="open" ){%>
                  <table class="center">
                    <tr>
                      <th>code_matiere</th>
                      <th>ncc</th>
                      <th>nsn</th>
                      <th>nsr</th>
                      <th>reponse</th>
                      <th>action</th>
                    </tr>
                    </tr>

                    <% reclamations.forEach((matiere, index)=> { %>
                      <tr>
                        <td>
                          <%= matiere.code %>
                        </td>
                        <td>
                          <%= matiere.NCC %>
                        </td>
                        <td>
                          <%= matiere.NSN %>
                        </td>
                        <td>
                          <%= matiere.NSR %>
                        </td>
                        <td>
                          <%= matiere.reponse %>
                        </td>
                        <td>
                          <span class="">
                            <% if (matiere.modifie) { %>
                              <i class="fas fa-check icon-right"></i>
                            <% } else { %>
                              <!-- Utiliser une icône agrandie pour "En attente" -->
                              <i class="fas fa-clock fa-lg icon-right"></i> 
                            <% } %>
                          </span>
                        </td>
                      </tr>
                      <% }); %>


                  </table>
                  <%}%>
          </section>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>


    <script>
      const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

      var i = 1;
      console.log(i);

      toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
        if (i % 2 == 1) {

          const element1 = document.getElementById('hhhhh');
          element1.style.marginLeft = '50px';
          console.log(i);
        } else {

          const element1 = document.getElementById('hhhhh');
          element1.style.marginLeft = '-20px';
          console.log(i);
        }
        i = i + 1;
        console.log(i);
      });

      searchBtn.addEventListener("click", () => {
        sidebar.classList.remove("close");

      })

      modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");

        if (body.classList.contains("dark")) {
          modeText.innerText = "Light mode";
        } else {
          modeText.innerText = "Dark mode";

        }
      });
      // Sélectionnez toutes les div de colonne que vous souhaitez masquer
      var columnsToHide = document.querySelectorAll('.pricing-header:nth-child(2)');

      // Parcourez les div de colonne et ajoutez la classe "hidden" pour les masquer
      for (var i = 0; i < columnsToHide.length; i++) {
        columnsToHide[i].classList.add('hidden');
      }

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
        });
      });
    </script>

    <script>
      var myLink = document.getElementById("home");
      myLink.onclick = function () {
        const currentUrl = window.location.href;
        const newUrl = currentUrl.replace('/s_reclamation', '/home');
        window.location.href = newUrl;
        return false;
      };
      var myLinkk = document.getElementById("env_reclamation");
      myLinkk.onclick = function () {
        var currentURL = window.location.href;
        var urlParams = new URLSearchParams(currentURL.split('?')[1]);
        var mat = urlParams.get('mat');
        window.location.href = "env_reclamation/" + mat;
        return false;
      };
      var myLinkkk = document.getElementById("matierr");
      myLinkkk.onclick = function () {
        const currentUrl = window.location.href;
        const newUrl = currentUrl.replace('/s_reclamation', '/matierr');
        window.location.href = newUrl;
        return false;
      };
    </script>
    <script>
      // Script pour la recherche
      const searchInput = document.getElementById('search-input');
      searchInput.addEventListener('input', handleSearch);

      function handleSearch(event) {
        const searchTerm = event.target.value.toLowerCase();
        const sections = document.getElementsByClassName('section');
        let matchFound = false;

        Array.from(sections).forEach(section => {
          const matricule = section.querySelector('h2').textContent.toLowerCase();
          const niveau = section.querySelector('h3:nth-child(2)').textContent.toLowerCase();
          const semestre = section.querySelector('h3:nth-child(3)').textContent.toLowerCase();
          const filiere = section.querySelector('h3:nth-child(4)').textContent.toLowerCase();

          if (
            matricule.includes(searchTerm) ||
            niveau.includes(searchTerm) ||
            semestre.includes(searchTerm) ||
            filiere.includes(searchTerm)
          ) {
            section.style.display = 'block';
            matchFound = true;
          } else {
            section.style.display = 'none';
          }
        });

        if (!matchFound) {
          if (searchTerm) {
            alert('Aucune donnée trouvée.');
          } else {
            alert('Veuillez saisir un terme de recherche.');
          }
        }
      }
    </script>


</body>

<script>
  function showSignupForm() {
    document.getElementById("login-form").style.display = "none";
    document.getElementById("signup-form").style.display = "block";
  }

  function showLoginForm() {
    document.getElementById("signup-form").style.display = "none";
    document.getElementById("login-form").style.display = "block";
  }
</script>
<script>
  $(document).ready(function () {
    var url = window.location.href;
    if (url.endsWith('/admin')) {
      loadContent('/reclamations');
    }
    // handle link clicks
    $(document).on('click', 'a', function (event) {
      event.preventDefault();
      var url = $(this).attr('href');
      loadContent(url);
      history.pushState({ url: url }, null, url);
    });

    // handle back/forward buttons
    window.addEventListener('popstate', function (event) {
      if (event.state != null) {
        loadContent(event.state.url);
      } else {
        loadContent('/reclamations');
      }
    });

    // check for hash in URL
    if (window.location.hash) {
      var hash = window.location.hash.substring(1);
      loadContent(hash);
    }

    $('#Logout').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/log'; // redirect the user to the logout page
    });
    $('#r').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/r'; // redirect the user to the logout page
    });
    $('#date_prof').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/date_prof'; // redirect the user to the logout page
    });
    $('#date').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/date'; // redirect the user to the logout page
    });
    $('#er').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/eleve'; // redirect the user to the logout page
    });
    $('#er_prof').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/eleve_prof'; // redirect the user to the logout page
    });
    $('#et').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/eleve1'; // redirect the user to the logout page
    });
    $('#m').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/matier'; // redirect the user to the logout page
    });
    $('#table').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/table'; // redirect the user to the logout page
    });
    $('#Reclamations').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/eleve_prof'; // redirect the user to the logout page
    });
  });

  function loadContent(url) {
    $('#content-container').load(url + ' #content');
  }
</script>
</body>

</html>